header  {
    width: 1340px;
    margin:  92px auto 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
header :nth-child(1){
    align-self: center;
    
}
header :nth-child(2){
    align-self: center;
}
header :nth-child(3){
    align-self: center;
}
.list-menu ul{
    display: grid;
    grid-template-columns: 100px 180px 120px;
    padding: 0;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li  {
    list-style-type: circle;
    
}
.list-menu > ul li:first-child{
    list-style: none; 
}
.logo  {
    width: 148px;
    height: 105px;
    margin-left: 151px;
}

.contacts  {
    max-width: 100%;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 210px;
    line-height: 20px;
}   

.contacts p {
    margin-top: 4px;
    line-height: 24px;
}

address  {
    
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.contacts p  a  {
    text-decoration: none;
    color: #000;
}
.overlay {
    position: relative;
    z-index: 0;
    opacity: 0.6;
    background: #000;
}
.cover  {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/images/cover.jpg);
    background-size: cover;
    width: 1440px;
    margin:auto;
    display: grid;
    align-items: center;
}

.you-need-it{
    z-index: 1;
    display: grid; 
}

.you  {
    margin: 145px 0 0 50px;
    text-align: start;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.you :nth-child(1)  {
    
    padding-left: 30px;
}


.need  {
    margin: 13px 26px 0 0;
    text-align: center;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.need :nth-child(1)  {
    padding-left: 26px;
}

.it  {
    justify-self: end;
    text-align: end;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    text-transform: uppercase;
    letter-spacing: 60px;
}

.it :nth-child(1) {
    letter-spacing: 25px;
    margin-right: 0px;
}

.down-cover  {
    padding:50px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}   



.text-ayk  {
    margin: 56px auto 0px 374px;
    color: #FFF;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 127.273% */
    text-transform: uppercase;
    align-self: center;
    word-spacing: 17px;
    
    
}
.bet  {
    border: 1px solid #FFF;
    background: transparent;
    align-self: center;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px;
    width:257px;
    color: white;
    margin: 60px 0px auto  auto;    
}

.lots-menu  {
    width: 1340px;
    margin: 180px auto;
}

.lots  {
    width: 1340px;
    margin: auto;
    display: flex;
    grid-column-gap: 25px; 
    padding: 0;
    justify-content: space-between;
}

.lots li  {
    list-style-type: none;
}

.lot  {
    display: grid;
    width: 430px;
    height: 450px; 
    
}

.text-lots  {
    grid-column: -1/1;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 44px;
}

.lot h3  {
    hyphens: manual;
    position: absolute;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    max-width: 20%;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 50px 40px 0 40px;;
}

.lot p  {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    margin: auto 40px 50px 40px;
    text-decoration: none;
    
}

.lot p a {
    text-decoration: none;
}
.lots-one  {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/images/card-lot-01.jpg);
    background-size: cover;
}

.lots-two  {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/images/card-lot-02.jpg);
    background-size: cover;
}

.lots-three  {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(/images/card-lot-03.jpg);
    background-size: cover;
}

.small-text-lots  {
    padding-left: 37px;
    padding-top: 29px;
    
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about  {
    width: 1340px;
    margin: 175px auto ;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.backgr  {
    display: flex;
    justify-self: center;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}   
.logo-white  {
    margin: auto;
}

.about h2  {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: center;
    margin-left: 6px;
    
}


.low-texts  {
    grid-column: -1/2;
    display: grid;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 23px;
    grid-row-gap: 30px;
    margin-left: 10px;
    margin-top: 3px;
}
.low-texts p {
    margin: 0;
}
footer  {
    width: 1340px;
    margin: 0px auto 90px auto;
    display: flex;
    justify-content: space-between;
    
}

.down-menu  {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 0 1px;
    text-align: center;
}

.down-menu  li  {
    
    list-style-type: none;
}

.icon  {
    height: 48px;
}

.icon-group ul  {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    margin: 10px 0 5px 11px;
}

.down-contacts  {
    max-width: 100%;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    line-height: 20px;
}

.icon-group li  {
    list-style-type: none;
}
.down-contacts p  {
    margin: 0 0 0px;
}